body {
    background-color: var(--brand-muted);
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #00bcd4;
    text-shadow: 1px 1px 2px #000;
}

.info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    font-size: 1.2em;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00f7ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #000000;
}

.btn:hover {
    background-color: #0097a7;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1e1e1e;
}

table th, table td {
    border: 1px solid #333;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #263238;
    color: #00bcd4;
}

table tr:hover {
    background-color: #333;
    cursor: pointer;
}

/* Estilo para botão de página ativa */
.btn-ativo {
    background-color: #007c91;
    font-weight: bold;
}